<!-- Carousel -->
            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 600px;">
                <!-- Content -->
                <div class="carousel-inner h-100">
                    <!-- TODO: Add Nunjucks code to create slides of "popular" content -->
                    <div class="carousel-item active h-100">
                        <!-- Background image -->
                        <img class="w-100 d-block position-absolute h-100 fit-cover" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" style="z-index: -1;">

                        <!-- Information -->
                        <div class="container d-flex flex-column justify-content-center h-100">
                            <div class="row align-items-start align-self-center justify-content-start">
                                <div class="col-md-6 col-xl-4 offset-md-2">
                                    <div class="opacity-75 p-5" style="background-color: var(--bs-light-bg-subtle); max-width: 350px;">
                                        <h1 class="text-uppercase fw-bold">Un edificio</h1>
                                        <p class="my-3">Qué bonito edificio</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <div>
                    <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>

                <!-- Indicators -->
                <!-- TODO: Add Nunjucks code to associate to slides -->
                <ol class="carousel-indicators">
                    <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                </ol>
            </div>
        </section>