{% block footer_panel %}
<footer class="text-center">
    <!-- Container -->
    <div class="container text-muted py-4 py-lg-5">
        <!-- Links -->
        <ul class="list-inline">
            <li class="list-inline-item me-4">
                <a class="link-secondary" href="https://www.unam.mx">UNAM</a>
            </li>
            <li class="list-inline-item me-4">
                <a class="link-secondary" href="https://www.acatlan.unam.mx">FES Acatlán</a>
            </li>
            <li class="list-inline-item">
                <a class="link-secondary" href="#">Arquitectura</a>
            </li>
        </ul>

        <!-- Social Media -->
        <ul class="list-inline">
            <!-- Facebook -->
            <li class="list-inline-item me-4">
                <span><i class="bi bi-facebook"></i></span>
            </li>

            <!-- Twitter -->
            <li class="list-inline-item me-4">
                <span><i class="bi bi-twitter"></i></span>
            </li>
        </ul>

        <!-- Copyright advise -->
        <p class="mb-0">Copyright © 2023 UNAM</p>
    </div>
</footer>
{% endblock%}