{% macro headContent(script_name) %}
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="Best architecture website"/>

<link rel="icon" href="/favicon.ico"/>
<link rel="apple-touch-icon" href="/logo192.png"/>
<link rel="manifest" href="/manifest.json"/>
<script src="/{{script_name}}.js" defer></script>

<title>Arquitectura Siglo XIX</title>
{% endmacro %}